.question{
    background-color: #F9E24A;
    padding: 1%;
    margin-top: 1%;
    font-size: 20px;
    background-color: #F9E24A;
    text-align: center;
    border-radius: 10px;
    font-weight: 1000;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
ul{
    list-style-type: none;
}
.list{
    padding: 1%;
    margin: 1%;
}
.listopt{
    background-color: #F9E24A;
    padding: 2%;
    margin-top: 1%;
    font-size: 20px;
    border-radius: 10px;
    font-weight: 400;
    width: 100%;
    border-color: #F9E24A;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.listopt:hover{
    transition: 0.5s;
    transform: translateY(-3px);
    box-shadow: 0 0 20px;;
}